<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav">
    <a th:href="@{/}" th:class="${tab} == 'index' ? 'tab-active' : 'tab'">index</a> |
    <a th:href="@{/pusher/}" th:class="${tab} == 'pusher' ? 'tab-active' : 'tab'">pusher</a> |
    <a th:href="@{/player-stream/}" th:class="${tab} == 'player-stream' ? 'tab-active' : 'tab'">player-stream</a> |
    <a th:href="@{/mpegts-stream/}" th:class="${tab} == 'mpegts-stream' ? 'tab-active' : 'tab'">mpegts-stream</a>
</div>
</html>