<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head::head"></head>
<body>
<div th:include="common/nav::nav" class="tabs"></div>
<div class="content">
    <table>
        <tr>
            <th>streamId</th>
            <th>mpegts-stream</th>
            <th>active</th>
            <th>opt</th>
        </tr>
        <tr th:each="stream : ${streams}">
            <td>
                <a th:href="@{/play/jsmpeg/} + ${stream.streamId}" th:text="${stream.streamId}" target="_blank"></a>
            </td>
            <td th:text="${stream.channelId}"></td>
            <td th:text="${stream.active}"></td>
            <td>
                <form th:action="@{/mpegts-stream/closeAndRemove}" method="post">
                    <input type="hidden" name="channelId" th:value="${stream.channelId}">
                    <button type="submit">X</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>