<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/head::head"></head>
<body>
<div th:include="common/nav::nav" class="tabs"></div>
<div class="content">
    <table>
        <tr>
            <th>streamId</th>
            <th>players</th>
        </tr>
        <tr th:each="stream : ${streams}">
            <td th:text="${stream.streamId}"></td>
            <td>
                <table>
                    <tr>
                        <th>channelId</th>
                        <th>alive</th>
                        <th>opt</th>
                    </tr>
                    <tr th:each="channel : ${stream.channels}">
                        <td th:text="${channel.channelId}"></td>
                        <td th:text="${channel.alive}"></td>
                        <td>
                            <form th:action="@{/player/closeAndRemove}" method="post">
                                <input type="hidden" name="channelId" th:value="${channel.channelId}">
                                <button type="submit">X</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>